.custom-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .custom-radio-button {
    margin: 5px;
  }
  .custom-btn-txt{
    margin: 5px;
   float: right;
  }
  .custom-card{
      margin-top:15px;
  }
  .custom-text-color{
      color:rgb(0, 55, 235);
  }